
body {
    margin: 0;
    padding-bottom: 3rem;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}
.main-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.chat-window {
    width: 300px;
    height: 375px;
}

/* .chat-footer {
    width: 800px;
    display: flex;
    align-items: center;
        justify-content: center;
   
} */

.chat-window .chat-body {
    height: calc(450px - (45px + 70px));
    border: 1px solid #263238;
    background: #fff;
    position: relative;
}
.chat-window .chat-body .message-container {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.chat-window .chat-body .message-container::-webkit-scrollbar {
    display: none;
}
.chat-window .chat-body {
    padding: 10px;
    display: flex;
    flex-direction: column;
    margin: auto;
}
.chat-window .chat-body .each-message {
    margin-right: auto;
    height: auto;
    min-height: 40px;
    max-width: 150px;
    background-color: #d9d9d9;
    border-radius: 7px;
    color: black;
    align-items: right;
    padding: auto;
    overflow-wrap: break-word;
    word-break: break-word;
}

.chat-window .chat-body .owner-message {
    background-color: #38ACEC;
    position: relative;
    margin-left: auto;
    width: auto;
    height: auto;
    min-height: 40px;
    max-width: 150px;
    border-radius: 7px;
    align-items: right;
    margin-right: 5px;
    padding: auto;
    overflow-wrap: break-word;
    word-break: break-word;     
}
.each-message {
    padding: 10px 10px;
    align-content: flex-end;
    margin-top: 20px;
    margin-bottom: 20px;
} 

.owner-message {
    margin-left: auto;
    position: relative;
    padding: 10px 10px;
    align-content: flex-end;
    margin-top: 20px;
    margin-bottom: 20px;
}

.chat-window .chat-footer {
    height: 40px;
    border: 1px solid #263238;
    border-top: none;
    display: flex;
}

.chat-window .chat-footer input {
    height: 100%;
    flex: 85%;
    border: 0;
    padding: 0 0.7em;
    font-size: 1em;
    border-right: 1px dotted #607d8b;
    outline: none; 
}
