.container-fluid {
    background: #253439;
}

.homePage {
    display: inline-block;
}

.img {
    size: 1em;
}

@media all and (max-width:30em) {
    a.button1 {
        display: block;
        margin: 0.4em auto;
    }

    .container-fluid {
        display: block;
    }
}